<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客列表页</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel = "stylesheet" href = "./css/blog_list.css">
</head>
<body>


<!-- 导航栏 -->
<div class="nav">
    <img th:src="@{/image/avatar.jpg}">
    <span class="title">枸杞的博客</span>

    <!--    这个标签仅仅用于占位 ,把下面几个a 标签挤到右边-->
    <div class="spacer"></div>

    <a th:href="@{/list}">主页</a>
    <a th:href="@{/edit}">写博客</a>
    <a th:href="@{/logout}">注销</a>
</div>

<!-- 页面主体部分 -->
<div class="container">
    <!--    左侧信息-->

    <div class="container-left">

        <!--        使用 这个 .card 表示用户信息-->
        <div class="card">
            <img src="./image/avatar.jpg" alt="图片显示失败">
            <!--            用户名-->
            <h3>程序员枸杞</h3>
            <a th:href="@{https://gitee.com/zh-jiaqi}" target="_blank">Gitee 地址</a>
            <div class='counter'>
                <span>文章</span>
                <span>分类</span>
            </div>
            <div class="counter">
                <span th:text="${essayCount}"></span>
                <span>2</span>
            </div>
        </div>
    </div>

    <!--    右侧信息-->
    <div class="container-right">
        <!--
            表示一篇博客
        -->

        <div class="blog">
            <!--
                   博客标题
            -->
            <div class="title">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data">
                2023-03-02
            </div>

            <!--
                博客的摘要
            -->
            <div class="desc">
                从今天起 , 我要认真敲代码
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eaque facilis perferendis! Numquam
                neque voluptatum ab vero expedita possimus fuga eos, illo sapiente delectus quidem natus maiores,
                ipsum impedit rerum?
            </div>

            <!--
                查看全文按钮
            -->
            <a href = "#">查看全文 &gt;&gt;</a>

        </div>
        <div class="blog">
            <!--
                   博客标题
            -->
            <div class="title">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data">
                2023-03-02
            </div>

            <!--
                博客的摘要
            -->
            <div class="desc">
                从今天起 , 我要认真敲代码
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eaque facilis perferendis! Numquam
                neque voluptatum ab vero expedita possimus fuga eos, illo sapiente delectus quidem natus maiores,
                ipsum impedit rerum?
            </div>

            <!--
                查看全文按钮
            -->
            <a href = "#">查看全文 &gt;&gt;</a>


        </div>
        <div class="blog">
            <!--
                   博客标题
            -->
            <div class="title">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data">
                2023-03-02
            </div>

            <!--
                博客的摘要
            -->
            <div class="desc">
                从今天起 , 我要认真敲代码
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eaque facilis perferendis! Numquam
                neque voluptatum ab vero expedita possimus fuga eos, illo sapiente delectus quidem natus maiores,
                ipsum impedit rerum?
            </div>

            <!--
                查看全文按钮
            -->
            <a href = "#">查看全文 &gt;&gt;</a>


        </div>
        <div class="blog">
            <!--
                   博客标题
            -->
            <div class="title">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data">
                2023-03-02
            </div>

            <!--
                博客的摘要
            -->
            <div class="desc">
                从今天起 , 我要认真敲代码
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eaque facilis perferendis! Numquam
                neque voluptatum ab vero expedita possimus fuga eos, illo sapiente delectus quidem natus maiores,
                ipsum impedit rerum?
            </div>

            <!--
                查看全文按钮
            -->
            <a href = "#">查看全文 &gt;&gt;</a>


        </div>
        <div class="blog">
            <!--
                   博客标题
            -->
            <div class="title">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data">
                2023-03-02
            </div>

            <!--
                博客的摘要
            -->
            <div class="desc">
                从今天起 , 我要认真敲代码
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eaque facilis perferendis! Numquam
                neque voluptatum ab vero expedita possimus fuga eos, illo sapiente delectus quidem natus maiores,
                ipsum impedit rerum?
            </div>

            <!--
                查看全文按钮
            -->
            <a href = "#">查看全文 &gt;&gt;</a>


        </div>
    </div>
</div>

</body>
</html>
