/*
    这个文件用来写博客编辑页的样式
*/

.blog-issue-container {
    width: 1000px;
    height: calc(100% - 50px);
    /*
        外边距
    */
    margin: 0 auto;
}

.blog-issue-container .title {

    height: 50px;

    /*
        开启弹性布局
    */
    display: flex;

    /*
        垂直居中
    */
    align-items: center;

    /*
       中间空白环绕 左右两边没有
    */
    justify-content: space-between;
}

#title {

    height: 40px;

    width: 400px;

    /*
        去掉边框
    */
    border: none;

    /*
        文字大小
    */
    font-size: 22px;
    /*
        圆角边框
    */
    border-radius: 5px;

    /*
        设置左内边距
    */
    padding-left: 5px;

    /*
        去掉轮廓线 , 鼠标点击后的黑圈
    */
    outline: none;

    /*
        设置背景半透明
    */
    background-color: rgb(255, 255, 255, 0.7);

}

#tags {
    height: 40px;

    width: 400px;

    /*
        去掉边框
    */
    border: none;

    /*
        文字大小
    */
    font-size: 22px;
    /*
        圆角边框
    */
    border-radius: 5px;

    /*
        设置左内边距
    */
    padding-left: 5px;

    /*
        去掉轮廓线 , 鼠标点击后的黑圈
    */
    outline: none;

    /*
        设置背景半透明
    */
    background-color: rgb(255, 255, 255, 0.7);
}

/*
    focus : 获取焦点后执行 (相当于鼠标点中 , 背景颜色改为下面)
    失去焦点 , 回复成原来的样子.
*/
#title:focus {
    background-color: rgb(255, 255, 255);
}

#submit {
    height: 40px;
    width: 100px;
    color: white;
    background-color: orange;

    /*
        去掉边框
    */
    border: none;

    /*
        圆角矩形
    */
    border-radius: 10px;
}

#submit:active {
    background-color: skyblue;
}

#editor {
    /*
        圆角矩形
    */
    border-radius: 15px;

    /*background-color: rgba(255,255,255,0.8);*/

    /*
        设置半透明
    */
    opacity: 75%;
}
