<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客编辑页</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/blog_edit.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <!--    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->

    <!--    引入 editor.md 的依赖-->
    <link rel="stylesheet" th:href="@{/editor.md/css/editormd.min.css}">
    <script th:src="@{/editor.md/lib/marked.min.js}"></script>
    <script th:src="@{/editor.md/lib/prettify.min.js}"></script>
    <script th:src="@{/editor.md/editormd.min.js}"></script>
</head>
<body>


<!-- 导航栏 -->
<div class="nav">
    <img th:src="@{/image/avatar.jpg}">
    <span class="title">枸杞的博客</span>

    <!--    这个标签仅仅用于占位 ,把下面几个a 标签挤到右边-->
    <div class="spacer"></div>

    <a th:href="@{/list}">主页</a>
    <a th:href="@{/edit}">写博客</a>
    <a th:href="@{/logout}">注销</a>
</div>

<!-- 编辑区的容器 -->
<div class="blog-edit-container">
    <form id="mdEditor">
        <!--    博客标题编译去-->
        <div class="title">
            <input type="text" id="title" name="title" placeholder="请输入文章标题">

            <button id="submit" onclick="hello()">发布文章</button>
        </div>
        <!--    博客编译器,这里用 id 是为了和 markdown 对接-->

    </form>
    <div id="editor">
    </div>


    <script>
        <!--        初始化编译器-->
        let editor = editormd("editor", {
            // 这里的尺寸必须在这设置 ，设置样式会被 editormd 自动覆盖
            width: "100%",
            // 设置编译器高度
            height: "calc(100% - 50px)",
            // 编译器中的初始内容
            markdown: "# 在这里写一篇博客",
            // 指定 editor.md 依赖的插件路径
            path: "./editor.md/lib/",
            // 保存 HTML 到 Textarea
            saveHTMLToTextarea: true,
        })

        function hello() {
            let form = document.getElementById("mdEditor")
            let content = document.getElementsByName("editor-html-code")
            console.log(content)
            let params = {
                title: form.title,
                content: "content",
                userId: ""
            }
            let host = "http://localhost:8080"
            $.ajax({
                url: host + "/essay/add",
                method: "post",
                data: params,
                success: function (result) {//result为返回结果
                    console.log("成功")
                },
                error: function () {//运行错误会执行此方法
                    console.log("失败")
                }
            })
        }

    </script>

</div>
</body>
</html>
