<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客详情页</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/blog_detail.css}">
</head>
<body>
<!--登录会话状态-->
<div type="hidden" id="sessionUser" th:text="${session.USER_LOGIN_STATE.id}"></div>

<!-- 导航栏 -->
<div class="nav">
    <img th:src="@{/image/avatar.jpg}">
    <span class="title">枸杞的博客</span>

    <!--    这个标签仅仅用于占位 ,把下面几个a 标签挤到右边-->
    <div class="spacer"></div>

    <a th:href="@{/essay/list}">主页</a>
    <a th:href="@{/essay/edit}">写博客</a>
    <a th:href="@{/user/logout}">注销</a>
</div>

<!-- 页面主体部分 -->
<div class="container">
    <!--左侧信息-->

    <div class="container-left">

        <!--使用 这个 .card 表示用户信息-->
        <div class="card">
            <img th:src="@{/image/avatar.jpg}" alt="图片显示失败">
            <!--            用户名-->
            <h3>程序员枸杞</h3>
            <a th:href="@{https://gitee.com/zh-jiaqi}" target="_blank">Gitee 地址</a>
            <div class='counter'>
                <span>文章</span>
                <span>分类</span>
            </div>
            <div class="counter">
                <span th:utext="${essayCount}"></span>
                <span>0</span>
            </div>
        </div>
    </div>

    <!--    右侧信息-->
    <div class="container-right">

        <!-- 博客标题 -->
        <h3 class="title" th:utext="${essay.title}"></h3>
        <h4 class="title" th:utext="${essay.userId}"></h4>
        <div id="essayId" th:text="${essay.id}" style="display: none"></div>
        <!-- 博客发布时间-->
        <div class="date"
             th:utext="${essay.createTime}+'<p>点赞数：'+${essay.thumbNum}+'转发数：'+${essay.forwardNum}+'收藏数：'+${essay.favourNum}+'</p>'">
        </div>
        <!-- 博客正文 -->
        <div class="content">
            <p th:utext="${essay.content}"></p>
            <button id="editEssay" type="button">编辑文章</button>
            <button id="deleteEssay" type="button">删除文章</button>
            <br>
            <br>
            <button id="thumb">点赞</button>
            <button id="forward">转发</button>
            <button id="favour">收藏</button>
        </div>
        <div class="comment-container">
            <h3>评论区</h3>
            <hr>
            <textarea id="comment" class="mo-textarea"></textarea>
            <button id="addComment" type="button">发送</button>
        </div>
        <div id="commend" th:each="comment,state : ${commentList}">
            <hr>
            <p class="commentItem" th:text="'用户：'+${comment.user.userAccount}"></p>
            <p class="commentItem" th:text="'评论内容：'+${comment.content}"></p>
            <p class="commentItem" th:text="'评论时间：'+${comment.createTime}"></p>
        </div>
    </div>
</div>
</body>
<script>

    $("#addComment").click(function () {
        let userId = document.getElementById("sessionUser").innerText
        let essayId = document.getElementById("essayId").innerText
        let comment = document.getElementById("comment").value
        let params = {
            userId: userId,
            essayId: essayId,
            content: comment,
            replyTo: ''
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/comment/add",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (result) {//result为返回结果
                alert("评论成功")
                location.reload(true)
            },
            error: function () {//运行错误会执行此方法
                alert("评论失败")
                // window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })
    $("#thumb").click(function () {
        let userId = document.getElementById("sessionUser").innerText
        let essayId = document.getElementById("essayId").innerText
        console.log(userId)
        let params = {
            userId: userId,
            essayId: essayId,
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/essay/thumb/update",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (result) {//result为返回结果
                alert("点赞成功")
            },
            error: function () {//运行错误会执行此方法
                alert("点赞失败")
                window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })
    $("#forward").click(function () {
        let userId = document.getElementById("sessionUser").innerText
        let essayId = document.getElementById("essayId").innerText
        console.log(userId)
        let params = {
            userId: userId,
            essayId: essayId,
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/essay/forward/update",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (result) {//result为返回结果
                alert("转发成功")
            },
            error: function () {//运行错误会执行此方法
                alert("转发失败")
                window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })
    $("#favour").click(function () {
        let userId = document.getElementById("sessionUser").innerText
        let essayId = document.getElementById("essayId").innerText
        console.log(userId)
        let params = {
            essayId: essayId,
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/essay/favour/update",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (result) {//result为返回结果
                alert("收藏成功")
            },
            error: function () {//运行错误会执行此方法
                alert("收藏失败")
                window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })

    $("#editEssay").click(function () {
        let essayId = document.getElementById("essayId").innerText
        let params = {
            id: essayId,
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/essay/edit",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            // result为返回结果
            success: function (result) {
                alert("删除成功")
            },
            // 运行错误会执行此方法
            error: function () {
                alert("删除失败")
                window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })
    $("#deleteEssay").click(function () {
        let essayId = document.getElementById("essayId").innerText
        let params = {
            id: essayId,
        }
        let host = "http://localhost:8080"
        $.ajax({
            url: host + "/essay/delete",
            method: "post",
            data: JSON.stringify(params),
            contentType: 'application/json',
            // result为返回结果
            success: function (result) {
                alert("删除成功")
            },
            // 运行错误会执行此方法
            error: function () {
                alert("删除失败")
                window.location.href = "http://127.0.0.1:8080/403";
            }
        })
    })
</script>
</html>




