<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客列表页</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/blog_list.css}">
</head>
<body>


<!-- 导航栏 -->
<div class="nav">
    <img th:src="@{/image/avatar.jpg}">
    <span class="title">枸杞的博客</span>

    <!--    这个标签仅仅用于占位 ,把下面几个a 标签挤到右边-->
    <div class="spacer"></div>

    <a th:href="@{/list}">主页</a>
    <a th:href="@{/edit}">写博客</a>
    <a th:href="@{/logout}">注销</a>
</div>

<!-- 页面主体部分 -->
<div class="container">
    <!--    左侧信息-->

    <div class="container-left">

        <!--        使用 这个 .card 表示用户信息-->
        <div class="card">
            <img th:src="@{/image/avatar.jpg}" alt="图片显示失败">
            <!--            用户名-->
            <h3>程序员枸杞</h3>
            <a th:href="@{https://gitee.com/zh-jiaqi}" target="_blank">Gitee 地址</a>
            <div class='counter'>
                <span>文章</span>
                <span>分类</span>
            </div>
            <div class="counter">
                <span th:utext="${essayCount}"></span>
                <span>2</span>
            </div>
        </div>
    </div>

    <!--    右侧信息-->
    <div class="container-right">
        <!--
            表示一篇博客
        -->
        <div class="blog" th:each="essay,state : ${essayList}">
            <!--
                   博客标题
            -->
            <div class="title" th:utext="${essay.title}">我的第一篇博客</div>
            <!--
                发布时间
            -->
            <div class="data" th:utext="${essay.createTime}"></div>
            <!--
                博客的摘要
            -->
            <div class="desc" th:utext="${essay.content.substring(0,essay.getContent().length()-1)}"></div>

            <!--
                查看全文按钮
            -->
            <a th:href="@{'/detail/'+${essay.id}}">查看全文 &gt;&gt;</a>

        </div>
    </div>
</div>
</body>
</html>
