<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.zjq.mapper.FollowMapper">

    <resultMap id="BaseResultMap" type="com.cuit.zjq.model.domain.Follow">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="followId" column="follow_id" jdbcType="VARCHAR"/>
        <result property="followerId" column="follower_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,follow_id,follower_id
    </sql>

    <insert id="insert" parameterType="object">
        insert into follow (id, follow_id, follower_id)
        values (#{id}, #{followId}, #{followerId})
    </insert>

    <delete id="delete" parameterType="object">
        delete
        from follow
        where follow_id = #{followId}
          and follower_id = #{followerId}
    </delete>
</mapper>
